@page "/"
@inject ToastService Toast

<PageTitle>Blazor Sonner</PageTitle>

<div class="pt-[100px]">
    <Toaster Expand="@_expand"
             Position="@_position"
             RichColors="@_richColors"
             CloseButton="@_closeButton" />

    <main class="container max-w-2xl mx-auto px-4">
        <Hero />

        <div class="flex flex-col mt-24 gap-14">
            <Installation />
            <Usage />
            <Types />
            <Positions @bind-Position="@_position" />
            <ExpandModes @bind-Expand="@_expand" />
            <Other @bind-RichColors="@_richColors" @bind-CloseButton="@_closeButton" />
        </div>
    </main>
    <Footer />
</div>

@code {
    private Common.ToastPosition _position = Common.ToastPosition.BottomRight;
    private bool _expand;
    private bool _richColors;
    private bool _closeButton;
}