@namespace Blazor.Sonner
@inject DomInterop DomInterop

<li tabindex="0"
    data-sonner-toast
    data-styled="true"
    data-mounted="@_isMounted.ToAttr()"
    data-y-position="@_position.Y"
    data-x-position="@_position.X">
    <div data-content>
        <div data-title>@Model.Title</div>

        @if( !string.IsNullOrWhiteSpace( Model.Description ) )
        {
            <div data-description>@Model.Description</div>
        }
    </div>
</li>

@code {
    [Parameter] public ToastModel Model { get; set; } = default!;
    [Parameter] public Position Position { get; set; } = Position.BottomRight;

    private bool _isMounted;
    private (string Y, string X) _position;

    protected override void OnParametersSet()
    {
        _position = Utils.MapPosition( Position );
    }

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if( firstRender )
        {
            // Trigger enter animation without using CSS animation
            await SetMountedAsync( true );
        }
    }

    private async ValueTask SetMountedAsync( bool value )
    {
        await DomInterop.RequestAnimationFrameAsync();

        _isMounted = value;
        StateHasChanged();
    }
}
