@namespace Blazor.Sonner
@inject DomInterop DomInterop

<li @ref="@_toastRef"
    style="
--index: @Index;
--toasts-before: @Index;
--z-index: @(Toasts.Count - Index);
--offset: @($"{_offset.ToString( CultureInfo.InvariantCulture )}px");
--initial-height: @($"{_initialHeight.ToString( CultureInfo.InvariantCulture )}px");
"
    tabindex="0"
    data-sonner-toast
    data-styled="true"
    data-mounted="@_isMounted.ToAttr()"
    data-visible="@_isVisible.ToAttr()"
    data-expanded="@_isExpanded.ToAttr()"
    data-front="@_isFront.ToAttr()"
    data-y-position="@_position.Y"
    data-x-position="@_position.X">
    <div data-content>
        <div data-title>@Model.Title</div>

        @if( !string.IsNullOrWhiteSpace( Model.Description ) )
        {
            <div data-description>@Model.Description</div>
        }
    </div>
</li>

@code {
    [Parameter] public int Index { get; set; }
    [Parameter] public ToastModel Model { get; set; } = default!;
    [Parameter] public Position Position { get; set; } = Position.BottomRight;
    [Parameter] public EventCallback<Height> OnHeightChanged { get; set; }

    [CascadingParameter] private Toaster Toaster { get; set; } = default!;

    private List<ToastModel> Toasts => Toaster.FilteredToasts;

    private bool _isMounted;
    private bool _isFront;
    private bool _isVisible;
    private bool _isExpanded;

    private int _heightIndex;
    private double _offset;
    private double _initialHeight;
    private double _previousToastsHeight;

    private (string Y, string X) _position;

    private ElementReference _toastRef;

    protected override void OnParametersSet()
    {
        _position = Utils.MapPosition( Position );

        _isFront = Index == 0;
        _isVisible = Index + 1 <= Toaster.VisibleToasts;
        _isExpanded = Toaster.Expanded;

        _heightIndex = Math.Max( 0, Toaster.ToastHeights.FindIndex( h => h.ToastId == Model.Id ) );
        _previousToastsHeight = Toaster.ToastHeights.Take( _heightIndex ).Sum( h => h.Value );
        _offset = _heightIndex * 14 + _previousToastsHeight;
    }

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if( firstRender )
        {
            // Trigger enter animation without using CSS animation
            await SetMountedAsync( true );
            await SetHeightAsync();
        }
    }

    private async ValueTask SetMountedAsync( bool value )
    {
        await DomInterop.RequestAnimationFrameAsync();

        _isMounted = value;
        StateHasChanged();
    }

    private async Task SetHeightAsync()
    {
        var height = (await DomInterop.GetBoundingClientRect( _toastRef )).Height;
        _initialHeight = height;

        await OnHeightChanged.InvokeAsync( new Height( Model.Id, height ) );
    }
}
